body{
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 25px;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(29,29,31);
    font-style: normal;
    background: #fff;
}

::selection{
    background: #ac344b;
    color: #fff;
}

html.global-nav-noscroll body{
    overflow: hidden!important;
    height: 100%!important;
}

html.popup-open body{
    overflow: hidden!important;
}

button{
    background: none;
    border: 0;
    box-sizing: content-box;
    color: inherit;
    font: inherit;
    line-height: inherit;
    overflow: visible;
    vertical-align: inherit;
    text-align: left;
}

h1, h2, p, h3, h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Global Header */
#global-nav{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 55px;
    font-size: 17px;
    background: rgba(245,245,247,0.6);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

#global-nav .global-nav-content{
    margin: 0 auto;
    padding: 0 24px;
    width: calc(100% - 48px);
    max-width: 980px;
    height: 55px;
    position: relative;
    z-index: 1;
}

#global-nav .global-nav-list{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: relative;
    z-index: 2;
}

#global-nav .bar{
    position: relative;
    height: 55px;
    max-width: 180px;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: block;
    top: -55px;
    left: 0;
    transition: 0.7693s cubic-bezier(.4,0,.6,1) 0.12s;
    border-bottom: 0;
}

#global-nav .bar.open{
    max-width: 871px;
}

#global-nav .bar.popup-open{
    max-width: 871px;
}

#global-nav .global-nav-item{
    margin: 0;
    padding: 0;
    height: 55px;
    width: auto;
    display: block;
}

#gloabl-nav .global-nav-logo{
    display: block;
}

#global-nav .global-nav-link{
    justify-content: center;
    color: rgba(255,255,255,0.8);
    position: relative;
    padding: 0;
    height: 55px;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    transition: color .32s cubic-bezier(.4,0,.6,1);
    font-size: 17px;
    line-height: 21px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#global-nav .global-nav-image{
    pointer-events: none;
    display: flex;
}

#global-nav .global-nav-image img{
    height: 55px;
    width: 26.1336px;
}

#global-nav .global-nav-menu{
    display: block;
    height: 55px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#global-nav .global-nav-menu-list{
    margin: 11px auto 0 auto;
    padding: 0;
    height: 33px;
    width: 160px;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(22,22,23,0.8);
    border-radius: 12px;
    display: block;
    transition: height 0.7693s cubic-bezier(.4,0,.6,1) 0.07s, width 0.7693s cubic-bezier(.4,0,.6,1) 0.12s, border-radius 0.7693s cubic-bezier(.4,0,.6,1) 80ms, background 0.7693s cubic-bezier(.4,0,.6,1) 80ms;
    overflow: hidden;
}

#global-nav .open .global-nav-menu-list{
    width: 100%;
    height: 336px;
    display: block;
    border-radius: 30px;
    margin: 10px auto 0 auto;
    background: #1D1D1F;
    transition: height 0.7693s cubic-bezier(.4,0,.6,1) 0.07s, width 0.7693s cubic-bezier(.4,0,.6,1) 0.12s, border 0.7693s cubic-bezier(.4,0,.6,1) 80ms, background 0.7693s cubic-bezier(.4,0,.6,1) 80ms;
}

#global-nav .popup-open .global-nav-menu-list{
    width: 100%;
    height: 280px;
    display: block;
    border-radius: 30px;
    margin: 10px auto 0 auto;
    background: #1D1D1F;
    pointer-events: none;
    transition: height 0.7693s cubic-bezier(.4,0,.6,1) 0.07s, width 0.7693s cubic-bezier(.4,0,.6,1) 0.12s, border 0.7693s cubic-bezier(.4,0,.6,1) 80ms, background 0.7693s cubic-bezier(.4,0,.6,1) 80ms;
}

#global-nav .global-nav-menu-list-content{
    margin: 0 auto;
    padding: 8.5px 12px;
    height: auto;
    width: calc(100% - 24px);
    display: block;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    transition: .333s cubic-bezier(.5,0,.333,1);
    cursor: pointer;
}

#global-nav .open .global-nav-menu-list-content{
    padding: 21px;
    width: calc(100% - 42px);
    height: calc(100% - 42px);
}

#global-nav .popup-open .global-nav-menu-list-content{
    padding: 21px;
    width: calc(100% - 42px);
    height: calc(100% - 42px);
}

#global-nav .menu-title{
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,0.8);
    height: 16px;
    opacity: 1;
    visibility: visible;
    transition: .5s cubic-bezier(.4,0,.6,1);
}

#global-nav .open .menu-title{
    opacity: 0;
    visibility: hidden;
    height: 0;
}

#global-nav .menu-list{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);
    transition: .6s cubic-bezier(.4,0,.6,1) 80ms;
    padding-top: 2px;
}

#global-nav .open .menu-list{
    opacity: 1;
    visibility: visible;
    transform: translate(0);
}

#global-nav .popup-open .menu-list{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12);
    display: none;
}

#global-nav .global-nav-submenu{
    box-sizing: border-box;
    width: auto;
    height: auto;
    transition: color .32s cubic-bezier(.4,0,.6,1);
    margin: 0;
    padding: 0;
    pointer-events: none;
}

#global-nav .global-nav-submenu-link{
    position: relative;
    background: no-repeat;
    transition: color .32s cubic-bezier(.4,0,.6,1);
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-decoration: none;
    color: #E8E8ED;
    width: auto;
    height: auto;
    display: block;
    padding: 3px;
    white-space: normal;
    pointer-events: auto;
}

#global-nav .global-nav-link-text-container{
    height: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
    padding: 7.5px 0;
}

/* Nav - Popup */
#global-popup-content{
    padding: 21px 0 0 0;
    pointer-events: none;
    display: block;
    position: relative;
}

#global-popup-content .popup-header{
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
    color: #E8E8ED;
}

#global-popup-content .popup-info{
    font-size: 17px;
    line-height: 21px;
    font-weight: normal;
    color: #E8E8ED;
    margin-top: 17px;
    text-align: justify;
}

#global-popup-content .popup-link{
    margin-top: 14px;
}

#global-popup-content .link{
    color: #FF6C00;
    pointer-events: auto;
}

/* Nav - Go to Top Button */
#global-nav .global-nav-stp-button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 55px;
    width: 33px;
}

#global-nav .global-nav-stp-wrapper{
    margin: 11px 0;
    padding: 0;
    height: 33px;
    width: 33px;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(22,22,23,0.8);
    border-radius: 12px;
    display: block;
    justify-content: center;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-350%);
    transition: .6s cubic-bezier(.4,0,.6,1) 80ms;
}

#global-nav .global-nav-stp-wrapper.active{
    opacity: 1;
    visibility: visible;
    transform: translate(0);
}

#global-nav .global-nav-link-stp{
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,0.8);
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    height: 33px;
    width: 33px;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

#global-nav .global-nav-image .arrow{
    margin: 7.5px;
    padding: 0;
    height: 18px;
    width: 18px;
}

/* Nav - Curtain */
#global-nav-curtain{
    background: rgba(0,0,0,0);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 8000;
    -webkit-transition: opacity 1s ease 0.2s,width 0s ease 1.2s,height 0s ease 1.2s;
    transition: opacity 1s ease 0.2s,width 0s ease 1.2s,height 0s ease 1.2s;
}

#global-nav-curtain.open{
    opacity: 1;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 1s ease 0.1s;
    transition: opacity 1s ease 0.1s;
}

#global-nav-curtain.popup-open{
    opacity: 1;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 1s ease 0.1s;
    transition: opacity 1s ease 0.1s;
}

@media only screen and (max-width: 905px){
    #global-nav .bar.open{
        max-width: 100%;
    }

    #global-nav .global-nav-content{
        padding: 0 10px;
        width: calc(100% - 20px);
    }

    #global-nav .global-nav-link{
        padding: 0 14px;
    }

    #global-nav .global-nav-stp-button{
        padding: 0 14px;
        display: block;
        width: 61px;
    }

    #global-nav .global-nav-menu-list.open{
        border-radius: 30px;
    }

    #global-popup-content .popup-header{
        font-size: 28px;
        line-height: 32px;
    }
}

/* Global Footer */
#global-footer{
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    background: #F5F5F7;
    color: #6E6E73;
    overflow: hidden;
    position: relative;
}

#global-footer .global-footer-content{
    margin: 0 auto;
    padding: 16px 16px 14px 16px;
    max-width: 980px;
}

#global-footer .global-footer-mini{
    padding: 10px 0;
}

#global-footer .global-footer-mini-legal{
    padding: 0;
    margin: 0;
}

#global-footer .global-footer-mini-legal-copyright{
    display: block;
    text-align: left;
}

/* Main Content */
#main{
    display: block;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.features-header{
    margin: 0 auto;
    padding: 60px 24px 0 24px;
    width: calc(100% - 48px);
    max-width: 660px;
}

.component:before, .timestamp::after{
    content: '';
    display: table;
}

.component::after{
    clear: both;
}

.timestamp .content{
    padding-bottom: 20px;
}

.timestamp .eyebrow{
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    display: flex;
    margin-top: 16px;
}

.timestamp .eyebrow-date{
    display: block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #6e6e73;
    margin: 4px 0;
}

.pagetitle .headline{
    font-size: 56px;
    line-height: 60px;
    font-weight: 700;
}

.image{
    margin: 44px auto 44px auto;
    padding: 0 24px;
    width: calc(100% - 48px);
    max-width: 660px;
}

.image .content{
    width: 100%;
    max-width: 2560px;
}

.image .image-sharesheet{
    overflow: hidden;
    z-index: 0;
    position: relative;
    display: block;
    width: 100%;
    border-radius: 18px;
}

.image .model-gallery-trigger{
    border: 0;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
}

.image .image-asset{
    width: 100%;
    height: 100%;
    padding-top: 139.9693721%;
}

.image .picture{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.image .picture-image{
    display: inline-block;
    width: 100%;
    height: auto;
}

.image .image-description{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #6e6e73;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    margin: 16px auto 0 auto;
    padding: 0;
    width: 100%;
}

.image .icon-arrowdown{
    flex-basis: 24px;
    margin-left: 24px;
    margin-top: -4px;
    font-size: 19px;
    line-height: 23px;
    font-weight: normal;
}

.image .icon-arrowdown::after{
    font-style: normal;
    font-weight: inherit;
    position: relative;
    z-index: 1;
    text-decoration: none;
    align-items: center;
    color: #161617;
    background-color: #f5f5f7;
    border-radius: 8px;
    display: flex;
    font-size: 13px;
    height: 24px;
    justify-content: center;
    transition: background-color 300ms cubic-bezier(0.4,0,0.25,1) 0ms, color 300ms cubic-bezier(0.4,0,0.25,1) 0ms;
    width: 24px;
    content:'\2193';
    line-height: inherit;
}

.image .icon-arrowdown:hover::after{
    background-color: #e8e8ed;
}

.pagebody{
    margin: 0 auto;
    padding: 0 24px;
    width: calc(100% - 48px);
    max-width: 660px;
    font-size: 19px;
    line-height: 27px;
    font-weight: normal;
}

.pagebody .content{
    display: block;
}

.pagebody .pagebody-header{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin: 8px 0 16px 0;
}

.pagebody .pagebody-copy{
    margin-bottom: 27px;
}

.pagebody .pagebody:first-child{
    margin-top: 0;
}

.pagebody .pagebpdy:last-child{

    margin-bottom: 0;
}

.pagebody .pagebody-copy a{
    cursor: pointer;
    color: #FF6C00;
    text-decoration: none;
}

.instructions{
    margin: 0 auto;
    padding: 0 24px;
    width: calc(100% - 48px);
    max-width: 980px;
}

.instructions .content{
    padding-bottom: 52px;
}

.instructions .container{
    padding-top: 14px;
}

.instructions .container ol{
    list-style-position: outside;
    margin: 0;
    padding: 0 0 0 20px;
}

.instructions .container li{
    padding-bottom: 10px;
    list-style-type: decimal;
    text-align: justify;
    text-justify: inter-word;
}

.gallery{
    margin: 0 auto;
    padding: 0 24px;
    width: calc(100% - 48px);
    max-width: 980px;
}

.gallery .content{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding-bottom: 44px;
}

.gallery .dot{
    justify-content: space-between;
    box-sizing: border-box;
    order: 2;
    border: 0;
    padding: 0;
    line-height: 0;
    display: flex;
    flex-wrap: wrap;
}

.gallery .dot ul{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    height: 12px;
    width: auto;
    margin: 17px 24px 0 0;
    padding: 0;
    pointer-events: auto;
}

.gallery .dot li{
    list-style: none;
    margin: 0 8px 0 0;
    padding: 0;
    width: 16px;
    height: 4px;
    position: relative;
}

.gallery .dot-item{
    top: 0;
    left: 0;
    width: 16px;
    height: 4px;
    outline: none;
    position: absolute;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    overflow: visible;
    font-size: 0;
    background-color: rgba(134,134,139,0.4);
}

.gallery .dot-item.current{
    cursor: default;
    background-color: #86868b;
}

.gallery .gallery-images{
    white-space: nowrap;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
}

.gallery .gallery-item{
    display: inline-block;
    position: relative;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1.5s ease-in-out;
}

.gallery .gallery-item.current{
    visibility: visible;
    z-index: 2;
    opacity: 1;
    transform: translate(0px, 0px);
    will-change: opacity;
    transition: all 1s ease-in-out;
}

#main .gallery .paddlenav-items{
    margin: 17px 0 0 24px;
    list-style: none;
    display: flex;
    justify-content: right;
    height: 40px;
    width: auto;
}

#main .gallery .paddlenav-items li{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.gallery .paddlenav-arrow{
    font-style: normal;
    overflow: hidden;
    text-align: center;
    transition: 250ms background-color linear,250ms color linear,250ms opacity linear;
    font-weight: 300;
    background-color: #F5F5F7;
    font-size: 19px;
    line-height: 23px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 12px;
    box-sizing: border-box;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gallery .paddlenav-arrow:hover{
    background-color: #e8e8ed;

}

.gallery .paddlenav-arrow-previous{
    margin-right: 8px;
}

.gallery .paddlenav-arrow:disabled{
    cursor: default;
    color: #6e6e73;
    border-color: #6e6e73;
    opacity: 1;
}

.gallery .paddlenav-arrow-previous::after{
    color: inherit;
    display: inline-block;
    font-style: normal;
    font-size: 32px;
    line-height: 34px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    content: '\227A';
    margin-top: -3px;
    margin-left: -3px;
}

.gallery .paddlenav-arrow-next::after{
    color: inherit;
    display: inline-block;
    font-style: normal;
    font-size: 32px;
    line-height: 34px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    content: '\227B';
    margin-top: -3px;
    margin-right: -3px;
}

.gallery .paddlenav-arrow::after{
    font-weight: 500;
    height: auto;
}

.gallery .gallery-images .gallery-item{
    display: inline-block;
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
}

.gallery .gallery-images .image-sharesheet-gallery{
    margin: 0;
    padding: 0;
}


.gallery .gallery-images .image-sharesheet{
    border-radius: 18px;
    overflow: hidden;
    z-index: 0;
    display: block;
    position: relative;
}

.gallery .gallery-images .model-gallery-trigger{
    border: 0;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
}

.gallery .gallery-images .image-asset{
    width: 100%;
    padding-top: 55.5556%;
    height: auto;
}

.gallery .gallery-images .picture{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.gallery .gallery-images .picture-image{
    display: inline-block;
    width: 100%;
    height: auto;
}

.gallery .gallery-images .gallery-caption{
    white-space: normal;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #6e6e73;
    margin: 16px 0 0 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    transition: opacity 300ms ease-in-out;
}

.gallery .gallery-images .image-caption{
    flex-grow: 1;
}

.gallery .gallery-images .icon-arrowdown{
    flex-basis: 24px;
    margin-left: 24px;
    margin-top: -4px;
    font-size: 19px;
    line-height: 23px;
    font-weight: normal;
}

.gallery .gallery-images .icon-arrowdown::after{
    font-style: normal;
    font-weight: inherit;
    position: relative;
    z-index: 1;
    text-decoration: none;
    align-items: center;
    color: #161617;
    background-color: #f5f5f7;
    border-radius: 8px;
    display: flex;
    font-size: 13px;
    height: 24px;
    justify-content: center;
    transition: background-color 300ms cubic-bezier(0.4,0,0.25,1) 0ms, color 300ms cubic-bezier(0.4,0,0.25,1) 0ms;
    width: 24px;
    content:'\2193';
    line-height: inherit;
}

.gallery .gallery-images .icon-arrowdown:hover::after{
    background-color: #e8e8ed;
}

.source{
    margin: 0 auto;
    padding: 0 24px;
    width: calc(100% - 48px);
    max-width: 980px;
}

.source .content{
    padding-bottom: 44px;
}

.source .list{
    background-color: #f5f5f7;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.source .list-item{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 36px 0;
    margin: 0 36px;
}

.source .icon-wrapper{
    display: flex;
    padding: 0 12px 0 0;
    flex: 0 0 24px;
    justify-content: flex-end;
    margin: 0;
}

.source .doc-icon{
    display: inline-block;
    height: 24px;
    width: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('../Icon/icon-link.svg');
    color: #1d1d1f;
    margin: 0;
    padding: 0;
}

.source .text-wrapper{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

.source .text{
    font-size: 19px;
    line-height: 23px;
    font-weight: 700;
    flex: 1 1 auto;
}

.source .link{
    flex: 0 0 auto;
    margin: 0;
    margin-left: 24px;
    position: relative;
}

.source .icon{
    white-space: nowrap;
    border-radius: 12px;
    display: inline-block;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms,border-color 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms,color 300ms cubic-bezier(0.4, 0, 0.25, 1) 0ms;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    padding: 8px 16px;
    background: #fff;
    color: #161617;
}

.source .icon:hover{
    background: #e8e8ed;
}

@media only screen and (max-width: 734px){
    .pagetitle .headline{
        font-size: 32px;
        line-height: 36px;
        font-weight: 700;
    }

    .image{
        margin: 32px auto;
        padding: 0;
        width: 100%;
    }

    .image .image-sharesheet{
        border-radius: 0;
    }

    .image .image-description{
        padding: 0 24px;
        width: calc(100% - 48px);
    }

    .pagebody{
        font-size: 17px;
        line-height: 27px;
    }

    .pagebody .content{
        flex-basis: 100%;
        width: 100%;
    }

    .pagebody .content.left{
        padding: 0;
        flex-basis: 100%;
        width: 100%;
        border: none;
        padding-bottom: 40px;
    }

    .pagebody .content.right{
        padding: 0;
        flex-basis: 100%;
        width: 100%;
    }

    .pagebody .headline{
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
    }

    .instructions .content, .gallery .content, source .content{
        padding-bottom: 32px;
    }

    .gallery{
        padding: 0;
        width: 100%;
    }

    .gallery .gallery-images .image-sharesheet{
        border-radius: 0;
    }

    .gallery .gallery-images .gallery-caption{
        margin: 16px 24px 0 24px;
    }

    .gallery .dot ul{
        margin: 17px 24px 0 24px;
    }

    #main .gallery .paddlenav-items {
        margin: 17px 24px 0 0;
    }

    .source .text-wrapper{
        flex-direction: column;
        align-items: flex-start;
    }

    .source .link{
        margin-left: 0;
        margin-top: 12px;
    }

    .source .doc-icon{
        top: -20px;
    }
}